{{!-- Error page template --}}
{{!-- Shows when something goes wrong (404 not found, 500 server error, etc.) --}}

<main>
    <h1>{{statusCode}}</h1>
    <p>{{message}}</p>
    <a href="{{@site.url}}">Go back home</a>
</main>
